.dashboard > div {
    margin-bottom: 2em;
}

.dashboard h3 {
    margin-bottom: 1em;
}

.quickfunctions {
    margin-bottom: 2em;
}

.quickfunctions button, .quickfunctions a {
    background-color: #e8739c;
    color: #000;
    width: 8em;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 0;
    font-size: 1.2em;
    display: inline;
    margin-right: 1em;
}