.footer {
    height: 60px;
    background-color: #1b1b1b;
}

.footer > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer p {
    margin: 0;
    color: #777;
}
