.topbar {
    height: 30px;

    > div {
        display: grid;
        place-items: center;
        height: 100%;
    }

    p {
        margin: 0;
    }

    a {
        color: var(--color-theme-500);
    }
}
