.browsescripts {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.tileheader {
    display: flex;
    justify-content: space-between;
}

.noscripts {
    margin-top: 16em;
}

.noscripts p {
    text-align: center;
    font-size: 1.5em;
}