.filters {
    margin-right: 1em;
    padding-top: 2.5em;
}

.filtersmain {
    background-color: #101010;
    border-left: 1px solid #202020;
    border-right: 1px solid #202020;
}

.filters h3 {
    margin-bottom: 1em;
}

.filters label {
    color: #fff;
    display: block;
    font-size: 1.2em;
    text-align: center;
    padding: 0.5em 0;
    background-color: #202020;
}

.field {
    padding: 2em 1em;
}

.filters select {
    font-size: 1.2em;
    padding: 0.25em 0.5em;
    width: 100%;
}

.search {
    width: 100%;
    font-size: 1.2em;
    padding: 0.25em 0.5em;
}

.categories li {
    width: 100%;
}

.categories li a {
    display: block;
    width: 100%;
    padding: 0.25em 0;
    font-size: 1.2em;
    cursor: pointer;
}

.categories li a:hover {
    background-color: #202020;
}

.selectedcategory {
    color: #e8739c;
}

.tags {
    background-color: #363636;
    color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    --tag-bg: #e8739c;
    --tag-hover: #c9577f;
    --tag-remove-bg: #963658;
    --tag-text-color: #000;
    --tag-text-color--edit: #000;
}

.slidercontainer {
    width: 94%;
    margin-left: 3%;
}

.slider {
    height: 5px;
    width: 100%;
}

.sliderthumb {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    cursor: grab;
    position: relative;
    top: -7.5px;
}

.slidertrack {
    background-color: #e8739c;
    top: 0;
    bottom: 0;
    position: relative;
    left: 5px;
}
.slidertrack:first-child {
    border-radius: 999px 0 0 999px;
    background-color: #777;
}
.slidertrack:nth-child(3) {
    border-radius: 0 999px 999px 0;
    background-color: #777;
}

.slidermark {
    display: none;
}

.slidermarks ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 0.5em;
}

.slidermarks ul li {
    text-align: center;
}

.checkbox {
    display: grid;
    place-items: center;
}

.checkbox > div {
    background-color: #363636;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.checkbox > div > svg {
    color: #fff;
    width: 60%;
    height: 60%;
}