.header {
    margin-bottom: 2em;
}

.logo {
    width: 180px;
    height: 100%;
    display: grid;
    place-items: center;
}

.searchbar {
    background-color: #1b1b1b;
    border-bottom: 1px solid #aaa;
}

.searchbar > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    align-items: center;
    height: 60px;
}


.searchbar h1 {
    color: #e8739c;
}

.searchbar form {
    flex-grow: 3;
    text-align: center;
    padding: 0 2em;
}

.searchbar input[type=text] {
    width: calc(100% - 6em);
    padding: 0 0.5em;
    height: 30px;

    background-color: #363636;

    border: 1px solid #aaa;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 1.25em;
    color: #fff;
}

.searchbar button {
    width: 4em;
    height: 30px;
    font-size: 1.2em;
    background-color: #e8739c;
    border: 1px solid #e8739c;
    border-radius: 0px 5px 5px 0px;
    position: relative;
    cursor: pointer;
}
.searchbar button > svg {
    position: relative;
    top: 2px;
    color: #000;
    transition: color 0.2s;
}
.searchbar button:hover > svg {
    color: #fff;
}

.searchbar > div > .addscript {
    background-color: #303030;
    height: 30px;
    display: grid;
    place-items: center;
    padding: 0 1em;
    border-radius: 5px;
}

.navbar {
    background-color: #1b1b1b;
}

.navbar ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar ul > li {
    flex-grow: 2;
    height: 3em;
}

.navbar ul > li > a {
    display: block;
    height: 100%;
    display: grid;
    place-items: center;

    text-align: center;
    text-transform: uppercase;
}

.navbar ul > li > a:hover {
    background-color: rgba(0,0,0,0.2);
}

.currentnav {
    border-bottom: 2px solid #e8739c;
}