.header {
    margin-bottom: 2em;
    position: relative;
}

.logo {
    width: 180px;
    height: 100%;
    display: grid;
    place-items: center;
}

.searchbar {
    background-color: #1b1b1b;
    border-bottom: 1px solid #aaa;
}

.searchbar > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    align-items: center;
    height: 60px;
}


.searchbar h1 {
    color: #e8739c;
}

.searchbar form {
    flex-grow: 3;
    text-align: center;
    padding: 0 2em;
}

.searchbar input[type=text] {
    width: calc(100% - 6em);
    padding: 0 0.5em;
    height: 30px;

    border-right: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 1.25em;

    transition: border 0.3s;
}

.searchbar input[type=text]:focus {
    border: 1px solid #e8739c;
}

.searchbar button {
    width: 4em;
    height: 30px;
    font-size: 1.2em;
    background-color: #e8739c;
    border: 1px solid #e8739c;
    border-radius: 0px 5px 5px 0px;
    position: relative;
    cursor: pointer;
}

.searchbar button > svg {
    position: relative;
    top: 2px;
    color: #000;
    transition: color 0.2s;
}
.searchbar button:hover > svg {
    color: #fff;
}

.addscript {
    background-color: #303030;
    height: 30px;
    display: inline-grid;
    place-items: center;
    padding: 0 1em;
    border-radius: 5px;
    margin-left: 1em;
}

.userbuttons > a {
    margin-left: 1em;
    font-size: 1.2em;
}

.navbar {
    background-color: #1b1b1b;
    height: 45px;
}

.navbar > div {
    height: 100%;
}

.navbar ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
}

.navbar ul > li {
    flex-grow: 2;
    height: 100%;
}

.navbar ul > li > a {
    display: block;
    height: 100%;
    display: grid;
    place-items: center;

    text-align: center;
    text-transform: uppercase;
}

.navbar ul > li > a:hover {
    background-color: rgba(0,0,0,0.2);
}

.currentnav {
    border-bottom: 2px solid #e8739c;
}

.categories, .tags {
    position: absolute;
    width: 100%;
    background-color: #202020;
    z-index: 2;
    padding: 2em 0;
    display: none;
}

.categories ul, .tags ul {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1em;
}
.categories li, .tags li {
    height: 80px;
    background-color: #1b1b1b;
}
.categories li a, .tags li a {
    height: 100%;
    text-align: center;
    display: grid;
    align-items: center;
}
.categories li a:hover, .tags li a:hover {
    box-shadow: 0px 0px 0px 2px #fff;
}