.form {
    margin-top: 1em;
}

.form > label {
    color: #fff;
    display: block;
    margin-bottom: 0.25em;
    font-size: 1.1em;
}

.form > input {
    display: block;
    margin-bottom: 1em;
    width: 60%;
    font-size: 1.2em;
    padding: 0.25em 0.5em;
    border: none;
}

.descriptionwrapper {
    display: flex;
}
.descriptionwrapper > div:first-child {
    width: 60%;
}
.descriptionwrapper > div:last-child {
    width: 40%;
    padding-left: 1em;
    overflow-y: visible;
    max-height: 400px;
}
.descriptionwrapper > div:last-child ul {
    padding-left: 1em;
    list-style: disc;
}
.descriptionwrapper > div:last-child li {
    margin-left: 1em;
}
.descriptionwrapper > div:last-child a {
    color: #e8739c;
    text-decoration: underline;
}

.form > textarea {
    display: block;
    margin-bottom: 1em;
    width: 100%;
    height: 6em;
    font-size: 1.2em;
    padding: 0.25em 0.5em;
    border: none;
}

.form > select {
    background-color: #363636;
    color: #fff;
    border: 1px solid #aaa;
    margin-bottom: 1em;
    width: 60%;
    font-size: 1.2em;
    padding: 0.25em 0.5em;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='36' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M0 6l8 12 8-12z'/><path d='M0 5h36v36H5z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: center right;
}

.dropzone {
    min-height: 100px;
    border: 2px dashed #aaa;
    width: 60%;
    display: grid;
    place-items: center;
    background-color: #050505;
    transition: all 0.3s;
    padding: 1em;
}

.dropzoneon {
    border: 2px solid #e8739c;
    background-color: #963658;
    transition: all 0.3s;
}

.dropzone p, .dropzone li {
    font-size: 1.2em;
}

.tags {
    width: 60%;
    background-color: #363636;
    color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    --tag-bg: #e8739c;
    --tag-hover: #c9577f;
    --tag-remove-bg: #963658;
    --tag-text-color: #000;
}

.form label {
    color: #fff;
    font-size: 1.2em;
    display: block;
    margin-bottom: 0.25em;
}

.form input, .form textarea, .form select, .form button {
    width: 60%;
    font-size: 1.2em;
    padding: 0.25em 0.5em;
    background-color: #363636;
    color: #fff;
    border-radius: 5px;
}

.form textarea {
    width: 100%;
}

.form select {
    border: 0;
}

.form > form > button {
    background-color: #202020;
    color: #fff;
    border: 0;
    padding: 0.5em 2em;
    margin-top: 2em;
}

.form > form > div {
    margin-bottom: 1em;
}

.form aside {
    color: #eb576b;
    margin-top: 0.25em;
}

.datepicker {
    display: block;
}

.datepickercalendar button {
    background-color: transparent;
    color: #fff;
    width: 0;
    width: 10px;
    padding: 0;
}