* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, a, span {
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    background-color: #000;
}

a {
    text-decoration: none;
}

.content {
    min-height: calc(100vh - 200px);
}

.container {
    min-width: 991px;
    max-width: 1323px;
    margin: 0 auto;
}

::-webkit-input-placeholder { /* Edge */
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
}

::placeholder {
    font-style: italic;
}