svg.indexLoading {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.indexCenter {
    margin-top: 25%;
    text-align: center;
    font-size: 1.5em;

    span {
        display: block;
    }

    svg {
        font-size: 3em;
        color: var(--color-theme-500);
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
