.pagination {
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 1em;

    > ul {
        display: flex;

        > li {
            display: block;
            background-color: var(--color-neutral-300);
            border-radius: 5px;
            margin-right: 1em;
            cursor: pointer;
            width: 2.5rem;
            text-align: center;

            a,
            button {
                width: 100%;
                padding: 0.5em;
                display: block;
                color: var(--color-text);
                font-size: 1rem;
            }

            button {
                border: none;
                background-color: transparent;
                height: 100%;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        > li.nolink {
            padding: 0.5em;
            cursor: default;
        }

        > li.currentpage {
            background-color: var(--color-theme-500);
            color: var(--color-bg);
            font-weight: bold;
        }
    }
}
