.sidebyside {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.imagewrapper {
    width: 50%;
    height: 380px;
    background-color: var(--color-bg);
    display: grid;
    place-items: center left;

    > img {
        max-height: 100%;
        max-width: 100%;
    }
    > iframe {
        height: 100%;
        max-height: 100%;
        max-width: 100%;
    }
}

.details {
    width: 50%;
    padding-left: 2em;
}

.name {
    font-size: 4em;
}

.creator {
    font-size: 2em;

    a:hover {
        color: var(--color-theme-500);
        cursor: pointer;
    }
}

.created {
    font-size: 1.2em;
    color: var(--color-neutral-700);
    margin-top: 0.5em;
}

.category {
    margin-top: 0;
    font-size: 1.8em;

    a:hover {
        color: var(--color-theme-500);
    }
}

.tags > li {
    display: inline;
    margin-right: 0.5em;

    > a {
        background-color: var(--color-neutral-300);
        border-radius: 5px;
        padding: 0.25em 0.5em;

        &:hover {
            color: var(--color-theme-500);
        }
    }
}

.duration > p {
    font-size: 2em;
    margin-top: 1em;
}

.linkbuttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.source {
    background-color: var(--color-theme-500);
    display: block;
    width: 270px;
    font-size: 1.4em;
    padding: 0.25em 0.5em;
    border-radius: 5px;
    color: var(--color-bg);
    text-align: center;
    display: grid;
    place-items: center;
    margin-right: 1em;
}

.underlinkdata {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1em;
}

.stats {
    font-size: 1.5em;
    color: var(--color-neutral-700);

    li {
        margin-top: 0.5em;
    }

    span {
        color: var(--color-neutral-700);
    }

    svg {
        margin-right: 0.5em;
    }
}

.clickable {
    cursor: pointer;
}

.isLiked {
    color: var(--color-theme-300);
}

.studiotalent {
    font-size: 1.2em;

    a:hover {
        color: var(--color-theme-500);
    }
}

.description {
    margin-top: 1em;
    font-size: 1.1em;

    p {
        margin: 0.5em 0;
    }
}

.funscriptInfo {
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.heatmapContainer {
    width: 50%;
    height: 50px;
}

.funscriptMetadata {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 2rem;

    p {
        margin: 0;
        font-size: 1.2rem;

        span {
            color: var(--color-neutral-800);
            margin-right: 0.5rem;
        }
    }
}
